body {
    background: #1d1d1d;
    text-align: center;
    padding: 10%;
    padding-top: 0;
    font-family: verdana, arial, sans-serif;
    color: #EEE;
}
a {
    color: #fff;
}

#header {
    padding: 20px;
    font-size: 1.1em;
}

button {
    padding: 20px;
    border: none;
    width: 100%;
    clear: both;
    margin-bottom: 20px;
    background: #468966;
}

#btnScan {
    color: #f4c280;
    background: #a42e00;
;
}
#btnRetake {
    background: #ffb03b;
    color: #a45100;
}

#btnHelp, #btnHelpRead {
    color: #f4c280;
}
#face {
    border: none;
    width: 100%;
}

#instructions {
    display: none;
}

#faceWrapper {
    display: none;
    margin-bottom: 20px;
}
#faceNotes {
    display: none;
}